

   .squareBlue {
    background-color: #0000ff;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 2px solid black;
    box-shadow: 0 8px 8px 0 #999;
    transform: translateY(-6px);
  }
  .squareBlue:active {
    box-shadow: 0 2px #999;
    transform: translateY(-2px);
    }
  .squareRed {
    background-color: #ff0000;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 2px solid black;
    box-shadow: 0 8px 8px 0 #999;
    transform: translateY(-6px);
  }
  .squareRed:active {
    box-shadow: 0 2px #999;
    transform: translateY(-2px);
  }
  .squareGreen {
    background-color: #00ff00;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 2px solid black;
    box-shadow: 0 8px 8px 0 #999;
    transform: translateY(-6px);
  }
  .squareGreen:active {
    box-shadow: 0 2px #999;
    transform: translateY(-2px);
  }
  .squareYellow{
    background-color: yellow;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 2px solid black;
    box-shadow: 0 8px 8px 0 #999;
    transform: translateY(-6px);
  }
  .squareYellow:active {
    box-shadow: 0 2px #999;
    transform: translateY(-2px);
  }
  #message {
    clear: left;
    float: center;
    margin: 25px 150px 25px 150px;
  }
  #correct-color {
    margin: 25px 175px 25px 175px;
  }
  h1 {
    margin: 25px 100px 25px 100px;
  }
